html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.4;
    background-color: #FAFAFA;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 


#map {   
    max-height: 900px;
    min-height: 500px;     
    max-width: 900px; 
    min-width: 100px;    
}

h1, 
h2, 
h3, 
h4 {
	font-family: "Gotham", sans-serif;
	margin: 0;
}

h1 {
	color:#2d3c49;
	font-weight: 300;
	font-size: 2em;
}

h2 {
    font-weight: 300;
}

.col-4 h2 {
    text-align: center;
    text-transform: uppercase;
    color: #2d3c49;
}

.container {    
    margin: 0 auto;
    max-width: 950px;
    min-width: 375px;
}

img {
    margin-left: 10px;
    margin-right: 10px;
}

figure {
  margin: 1em 0 1em 0;
}

.title-profile {
    margin-top: 10px;
    text-align: right;
    text-transform: uppercase;    
}

.a-link {
    text-decoration: none;
    color: #2d3c49;    
}

.card hr {
    border-top: 2px solid #5cb5ff;
}

.col-4 figure {
    margin-right: 10px;
}

.logo {
    width: 70px;
    height: 70px;
    margin: 10px;        
}

.row  {
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.first,
.secunder,
.third {
    text-align: center;
}

@media screen and (max-width:375px) {
    h1{
        font-size: 1.5em;
    }
}

.card{
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #FFFFFF;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    max-width: 300px;
    height: 400px;
}
.card .card-header{
    font-size: 1.3em;
    text-align: center;
    color: cadetblue;
    margin-left: 10px;
}

.main{
    margin-top: 50px;
}
.card .content {
    padding: 15px 15px 10px 15px;
}

.card .content .row {
    margin-right: -15px;
    margin-left: -15px;
    max-height: 190px;
}


.card .footer {
    padding: 0;
    line-height: 30px;
}

.card .footer div {
    display: inline-block;
}
.card .stats {
    color: #a9a9a9;
    font-weight: 300;
}

card .stats i {
    margin-right: 2px;
    min-width: 15px;
    display: inline-block;
}

.card .numbers {
    font-size: 2em;
    text-align: right;
}

.card .description {
    font-size: .8em;
    text-align: justify;
    margin-left: 10px;
    max-height: 180px;
}

.card .text-span {
    max-height: 180px;
    max-width: 200px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

[class^="ti-"], [class*=" ti-"] {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    line-height: 1.42857;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card .icon-big {
    font-size: 3em;
    min-height: 64px;
}

.card .numbers {
    font-size: 2em;
    text-align: right;
}

.icon-warning {
    color: #F3BB45;
}

.text-center {
    text-align: center;
}

.footer {
    background-attachment: fixed;
    position: relative;
    line-height: 20px;
    text-align: end;
    top: 75px;
}

.btn {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 6px;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 2px solid transparent;
    white-space: nowrap;
    padding: .5em;
    font-size: 14px;
    line-height: 1.2;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.green {
    background-color: #00E676;
    color: #FAFAFA;
}

.yellow {
    background-color: #FFF9C4;
    color: black;
}

.orange {
    background-color: #FFB74D;
    color: #FAFAFA;
}

.red {
    background-color: #EF5350;
    color: #FAFAFA;
}

.blue {
    background-color: #64B5F6;
    color: #FAFAFA;
}

.purple{
    background-color: #f3e5f51c;
}


.indigo{
    background-color: #E8EAF6;
}


.text-color-burlywood{
    color: burlywood;
}


.text-color-chocolate{
    color: chocolate;
}

.text-color-cornflowerblue{
    color: cornflowerblue;
}

.text-read{
    margin-left: 30px;
    font-size: 2.1em;
}

.new-book{
    position: fixed;
    top: 80%;
    right: 100px;
    border-radius: 50%;
    background-color: #EF5350;
    color: #FAFAFA;
}

.new-book:hover{
   background-color: #64B5F6;
   color: #FAFAFA;
}

.readSpace{
    min-height: 420px;
}